.site{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  display: flex;
  flex: 1;
}

.footer {
  display: flex;
}

div.alert-container {
    width: 100%;
    position: absolute;
    z-index: 1;
}

div.alert {
    margin-left: 25%;
    width: 50%;
    position: relative;
}

/* Style for user forms */
.default-paper ul,ol {
    padding-left: 40px;
}

.form-paper {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10px;
}

.form-container {
    padding: 2em;
}

.form-input {
    display: block;
}
